<div class="container" style="border: solid #f7f7f9 0.2rem; padding: 2rem; background-color: #f7f7f9" >
  <fieldset>
    <legend style="margin-bottom: 20px; font-weight: bolder; font-size: 30px">Neue Suche</legend>
  </fieldset>
  <form class="form-horizontal" #sucheForm="ngForm">
    <div class="form-group row">
      <label for="inputAPLNummer" class="control-label col-xs-12 col-sm-3">APL-Nummer</label>
      <div class="col-xs-12 col-sm-9">
        <input type="text" class="form-control" id="inputAPLNummer">
      </div>
      <div class="col-xs-12 col-sm-12">
        <hr size="5"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputRoehrchenNummer" class="control-label col-xs-12 col-sm-3">Röhrchen-Nummer</label>
      <div class="col-xs-12 col-sm-9">
        <input type="text" class="form-control" id="inputRoehrchenNummer">
      </div>
      <div class="col-xs-12 col-sm-12">
        <hr size="5"/>
      </div>
    </div>


    <div class="form-group row">
      <label for="inputStrasse" class="control-label col-xs-12 col-sm-3">Straße</label>
      <div class="col-xs-12 col-sm-9">
        <input type="text" class="form-control" id="inputStrasse">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputHausnummer" class="control-label col-xs-12 col-sm-3">Hausnummer</label>
      <div class="col-xs-12 col-sm-9">
        <input type="text" class="form-control" id="inputHausnummer">
      </div>
      <div class="col-xs-12 col-sm-12">
        <hr size="5"/>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg pull-right">Suchen</button>
  </form>
</div>

<div>
  {{sucheForm | json}}
</div>
