<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <input type="file" id="uploadfile" style="display: none;">
    <div class="input-group">
      <input type="text" class="form-control " placeholder="" value="aaaaaa.pdf" disabled="">
      <span class="input-group-btn" tabindex="0">
    <label for="uploadfile" class="btn btn-info ">
      <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
      <span class="buttonText"> Select a File</span>
    </label>
  </span>
    </div>
  </div>
</div>
