<h4>Datei Hochladen</h4>
<table class="table">
  <thead>
  <tr class="row">
    <th class="col-sm-4">Name</th>
    <th class="col-sm-4">Fortschritt</th>
    <th class="col-sm-1">Zustand</th>
    <th class="col-sm-3">Aktionen</th>
  </tr>
  </thead>
  <tr class="row" *ngFor="let fileUploadViewModel of fileUploadViewModels; let i=index">
    <td><strong>{{fileUploadViewModel.file.name}}</strong></td>
    <td>
      <div class="progress">
        <div class="progress-bar progress-bar-success" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" role="progressbar"
             [ngStyle]="{width: fileUploadViewModel.progress | percent}">
          {{fileUploadViewModel.progress | percent}}
        </div>
      </div>
    </td>
    <td>{{fileUploadViewModel.zustand}}</td>
    <td>
      <button class="btn btn-success" type="button" (click)="upload(i)"
              [disabled]="fileUploadViewModel.isReady()">
        <span class="glyphicon glyphicon-upload"></span>Hochladen
      </button>
      <button class="btn btn-warning" type="button" disabled="">
        <span class="glyphicon glyphicon-ban-circle"></span> Abbrechen
      </button>
    </td>
  </tr>
</table>
<div class="row">
  <input type="file" id="uploadfile" style="display: none;" (change)="onFileLoaderChange($event)">
  <div class="btn-toolbar">
    <label for="uploadfile" class="btn btn-info">
      <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Datei Auswählen
    </label>
    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()" [disabled]="!uploader.queue.length">
      <span class="glyphicon glyphicon-upload"></span> Alle Dateien Hochladen
    </button>
    <button type="button" class="btn btn-warning btn-s"
            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> Hochladene Dateien Abbrechen
    </button>
    <button type="button" class="btn btn-danger btn-s"
            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> Alle Dateien Entfernen
    </button>
  </div>
</div>

